body {
  background-color: hsl(67, 19%, 95%);
}

.navbar-container nav {
  border-top: 2.5px solid hsl(74, 79%, 36%);
  border-bottom: 4px solid hsl(74, 79%, 36%);
  box-shadow: 0.25rem 0 0 0.125rem rgb(0 0 0 / 11%);
  height: 95px;
  align-items: flex-end;
}

.footer-container {
  border-top: 4px solid hsl(74, 79%, 36%);
  border-bottom: 4px solid hsl(74, 79%, 36%);
  box-shadow: 0.25rem 0 0 0.125rem rgb(0 0 0 / 11%);
  height: 95px;
  margin-top: -97px;
}

.navbar-container nav {
  display: flex;
  justify-content: flex-end;
  font-family: "Tajawal", sans-serif;
  font-size: 23px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 0px;
}

.nav-item {
  padding: 10px 50px 15px 0px;
  text-decoration: none;
  color: hsl(92, 45%, 32%);
  letter-spacing: 5px;
}

.nav-item:first-child {
  padding: 10px 200px 15px 0px;
}

.nav-item:not(:last-child) {
  padding: 10px 200px 15px 0px;
}

.sidebar-container {
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: -100px;
  font-family: "Tajawal", sans-serif;
  justify-content: center;
  align-items: center;
  color: hsl(74, 49%, 36%);
  box-shadow: 0 0 0.25rem 0.125rem rgb(0 0 0 / 11%);
}

.sidebar-container h4 {
  font-size: 2vh;
  font-weight: 600;
  letter-spacing: 3px;
  color: hsl(92, 45%, 32%);
}

@media screen and (max-width: 1250px) {
  .nav-item {
    padding: 10px 2vw 15px 0px;
    font-size: 2vw;
  }

  .sidebar-container {
    border-bottom: 4px solid hsl(74, 79%, 36%);
    width: 100vw;
    height: 90px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1251px) {
  .sidebar-container {
    border-right: 4px solid hsl(74, 79%, 36%);
  }

  .sidebar-container h4 {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }

  .layout-container {
    display: flex;
    align-items: center;
  }

  .home-container h1 {
    font-size: 10rem;
  }
}

/* Projects */

.projects-button-container a {
  font-family: inherit;
  background-color: hsl(67, 19%, 95%);
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(92, 45%, 32%);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: space-between;
  position: relative;
  margin: 20px;
}

.projects-button::after,
.projects-button::before {
  border: 3px solid hsl(74, 79%, 36%);
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;

  transition: transform 0.3s ease;
}

.projects-button:hover::after {
  transform: translate(-5px, 5px);
}

.projects-button:hover::before {
  transform: translate(5px, -5px);
}

.projects-number {
  font-family: "Meta", sans-serif;
  font-size: 25px;
  margin-right: 10px;
}

/* home */

.home-container {
  width: 100%;
  height: 100%;
  justify-items: center;
  /* align-content: center; */
}

.home-container h1 {
  transition: all 0.5s;
  -webkit-text-stroke: 4px hsl(46, 21%, 88%);
  font-variation-settings: "wght" 900, "ital" 1;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px hsl(73, 19%, 60%), 15px 15px 0px hsl(80, 30%, 42%),
    20px 20px 0px hsl(92, 45%, 32%), 25px 25px 0px hsl(92, 25%, 22%),
    45px 45px 10px hsl(95, 16%, 16%);
  cursor: pointer;
  margin-top: 0px;
}

.home-container h1:hover {
  font-variation-settings: "wght" 100, "ital" 0;
  -webkit-text-stroke: 4px hsl(92, 45%, 32%);
  color: hsl(92, 45%, 32%);
  text-shadow: none;
}
